[Unit]
Description=RR Trackerito Discord Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/rrtrackerito
ExecStart=/usr/bin/python3 /home/pi/rrtrackerito/rrtrackerito.py
Restart=always
RestartSec=5
# Assure que les logs s'affichent correctement dans journalctl sans délai
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
